body {
  background-color: #101113 !important;
}
.yellow-strip{
  width: 100%;
  padding: 1px;
  background-color: yellow;
}

.padding{
  padding: 0px ;
}

.nav{
  background-color: rgba(0, 0, 0, 0.383);
  left: 0;
  right: 0;
  z-index: 1000;
}
.color-Gold{
  background-color: #fc0 !important;
  transition: .2s !important;
}
.color-Gold:hover{
  color: black !important;
  transform: scale(1.05);
}
.credentials span{
  cursor: pointer;
}
.carousel{
  max-width: 100vw;
width: 100%;
color: rgb(250, 250, 252);

}
.carousel-item-image{
  height: 420px;


}
.carouel-item-data h2{
  font-size: 48px;
  font-weight: 800;
}

.carouel-item-data h5{
  font-size: 24px;
  font-weight: 100;
}
.carouel-item-data button {
  font-size: 18px;
  padding: 13px 45px !important;
  margin-top: 15px;
  color: black;
  box-shadow: 0px 8px 11px rgba(0,0,0,.25);
  font-weight: 700;

  transition: .2s;

}
.carouel-item-data button:hover {
  transform: scale(1.05); /* Adjust the scale factor as needed */
  color: black;
}

.artist {
  width: fit-content;
  padding: 2px 7px 2px 2px;
  border: 0.8px solid #cccccc9a; /* Add a 1px grey border */
  border-radius: 5px; /* Rounded edges with a 5px radius */
}
.artist img{
 width: 40px;
 height: 40px;
 border-radius: 50%;
}

.layer-blur{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(40px);
  }
  .bg1{
    background-image: url("Assets/0d77bf0b-5ced-4b00-b684-108b7430120e.jpg");
  }
  .bg2{
    background-image: url("Assets/1b3cdeb1-54d4-4feb-a788-770ece7caad2.jpg");
  }
  .bg3{
    background-image: url("Assets/30358123-7f25-4f7a-a0d7-5ae9c90c810c.jpg");
  }
  .bg4{
    background-image: url("Assets/a64e125e-2d35-4aa9-81cd-fedba8dcc023.jpg");
  }

  .layer{
    background-color: rgba(0, 0, 0, 0.384);
    width: 100%;
    height: 100%;
  }

  .slick-dots {
   bottom: 20px !important;
  }

  .slick-dots li button {
    width: 12px !important; 
    height: 12px !important; 
    padding: 0 !important; 
    border: 2px solid white !important; 
    border-radius: 50%; 
  }
  .slick-dots li button:before{
    color: transparent !important;
  }
  .slick-dots li.slick-active button {
    background-color: white !important; /* Fill with white color */
  }

  .slick-slide .drop-shadow {
    box-shadow: none; 
    transition: box-shadow 0.1s ease-in-out; 
  }
  .slick-slide.slick-active .drop-shadow {
    box-shadow: none;
  }






  /* MEDIA QUERIES */
  @media (max-width: 768px) {
    .carousel {
      display: none;
    }
  }